* {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    
  }
  .weight-400 {
    font-weight: 400;
  }

  .container {
    border-radius: 20px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.329);
    display: flex;
    align-items: center;
  }

  .forgotLeft,
  .forgotRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
  }

  .forgotRight-300 {
    height: 300px;
  }
  .forgotImage{
    height: 200px;
    background-image: url(../../assets/img/forgot-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
  }

  .close-image{
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .header-forgot-password {
    display:flex;
    margin-left: 5%;
    margin-top: 28px;
    margin-right: 5%;
  }

  .forgot-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 7px;
    margin-right: 5%;
  }
  
  .m-top-42 {
    margin-top: 42px;
  }
  
  .content-forgot {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .m-top-24 {
    margin-top: 24px;
  }
  
  .footer-confirm-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .forgot-input-field {
    border: 1px solid #000;
    height: 56px;
    border-radius: 10px;
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .invalid-input-field {
    border: 1px solid red;
    height: 56px;
    border-radius: 10px;
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .weight-500 {
    font-weight: 500;
  }
  .font-14 {
    font-size: 14px;
  }
  
  .send-email-btn {
    
    width: 110px;
    height: 43px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: #8c8c8c;
    color: #fff;
    
    transition: 0.4s;
  
    
  }
  .send-email-btn:hover{
    background: #61C0BF;
    color: #000;
}

.cancel-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  width: 110px;
  height: 43px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border-color: #8c8c8c;
  color: #333;
  margin-right: 20px;
  
}

.cancel-btn:hover {
  background: #2196F3;
  color: white;
  border:none;
}

  .forgot-footer {
    display: flex;
    margin-top: 24px;
    padding-bottom: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .font-14 {
    font-size: 14px;
  }
  .primary-color {
    color: #a18474;
  }
  .forgot-text-danger {
    font-size: 12px;
    color: red;
    align-self: start;
  }

  .forgot-box {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #111111;
    position: relative;
    text-overflow: ellipsis;
    margin-top: 16px;
  }

  .forgot-input {
    background-image: url(../../assets/login/icons8-user-64.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 12px;
    background-size: 8%;
    width: 320px;
    height: 56px;
    padding-left: 52.8px;
    margin-left: 5px;
    color: #000000;
    background-color: transparent;
  }

  .wrong-forgot-input-format{
    width: 320px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid red;
    text-overflow: ellipsis;
    margin-top: 16px;
  }

  .forgot-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
  }
 