@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  
}

.register {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
  }
  
  .registerWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
  }
  
  .registerLeft,
  .registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    align-self: center;
  }
  
  .registerLogo { 
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
  }
  
  .registerDesc {
    font-size: 24px;
  }
  
  .font-12{
      font-size: 12px;
  }

  .registerBox{
      height: 500px;
      width: 400px;
      padding: 20px;
      background-color: #BBDED6;
      border-radius: 10px;
      display: flex;
      margin-right: 100px;
      justify-content: center;
      align-items: flex-end;
}

.registerBoxRight{
  height: 100%;
  width: 320px;
 
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-bottom: 50px;
 
}

  .heading h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
   
  }
  .heading{
      margin-bottom: 20px;
  }

  .sign-in-anchor{
	text-decoration: none;
	color: #FFA0A0;
	font-weight: 700;
	border: 0;
	background-color: transparent;
    justify-content: right;
    align-items: flex-end;
  }

  .registerInput:focus{
      outline: none;
  }
  
  .registerButton{
      height: 43px;
      width: 38%;
      border: none;
      background-color: #FFB6B9;
      color: white;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      align-self: center;
      border-radius: 10px;
      align-content: center;
      display: block;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
}
  
  .registerButton:focus{
    outline: none;
  }
  .registerButton:hover{
    background: #4b2888;
    color: #fff;
}
  .registerButton:disabled{
    cursor: not-allowed;
  }
  
  .registerForgot{
      
      color: #333333;
      align-self:flex-end;
 
      opacity: 0.5;
      font-size: 14px;
  }

  .block-sign-up{
    display: flex;
    justify-content: space-between;

      
  }
.m-left-8{
    margin-left: 8px;
}
  .flex{
    display: flex;
  }

  input{
    border: none;
    outline: none;
  }
  .wrap2{
    width: 80%;
    position: relative;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 13px;
}

.wrap{
    display: flex;
    width: 100%;
}

.flex1{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.custom-radio-btn {
  --size: 12px;
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 0;
  opacity: 0.5;
  padding-right: var(--size);
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn .label {
  margin: 0 12px 0 0;
  font-weight: 400;
  font-size: 14px;
}

.custom-radio-btn .checkmark {
  --gap: 1px;
  --border: 1px;
  --check-color: #FFB6B9;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  /* changes from the video  */

  border: var(--border) solid rgba(0, 0, 0, 1);
  
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

.custom-radio-btn input:checked ~ .checkmark {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle at center,
    var(--check-color)
      calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2),
    rgba(255, 255, 255, 0) 0
  );
}

.gender-select {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
}


.m-top-14{
  margin-top: 14px;
}
.m-top-10{
  margin-top: 10px;}

  .signup-bottom{
    vertical-align: bottom;
    margin-left: 5px;
   width: 400px;
  }

  .signup-middle{
    vertical-align: middle;
    margin-left: 8px;
  }

  .invalid-input {
    border: 1px solid red;
    height: 40px;
    border-radius: 10px;
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .placeholder-sign-up {  
    float: left;
    color: black;
    font-weight: 400;
    opacity: 0.5;
    pointer-events: none;
    font-size: 14px;
    display: flex;
    position: absolute;
    margin-left: 45px;
  }
  
  .input-field {
    border: 1px solid #111;
    height: 40px;
    border-radius: 10px;
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .input-sign-up {
    background-color: transparent;
    vertical-align: middle;
    margin-left: 16px;
    margin-right: 5px;
    width: 90%;
    color: #000000;
    font-size: 14px;
  }

  .email-input{
    background-image: url(../../assets/login/icons8-user-64.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
    padding-left: 30px;
  }
  .phone-input{
    background-image: url(../../assets/login/icons8-phone-64.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
    padding-left: 30px;
  }
  .name-input{
    background-image: url(../../assets/login/icons8-contact-64.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 19%;
    padding-left: 30px;
  }
  .password-input-sign-up {
    background-image: url(../../assets/login/padlock.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7.4%;
    padding-left: 30px;
  }
  .date-input{
    background-image: url(../../assets/login/icons8-calendar-64.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 6.7%;
    padding-left: 30px;
  }

  .sign-up-text-danger {
    font-size: 12px;
    color: red;
  }

  .m-left-265{
    margin-left: 265px;
  }
  .m-top-5{
    margin-top: 5px;
  }

  