 .profile-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f0efed;
  }

  .profile-container{
      padding:50px 50px;
  }

.information-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .information-image {
    width: 150px;
    height: 150px;
    padding: 0;
    background-color: transparent;
    border: 1px solid #a18474;
    border-image-width: 0;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .information-management-input-container {
    margin-left: 16px;
  }

  input.custom-file-input,
input.custom-file-input:focus {
  color: transparent;
  outline: none;
  width: 110px;
  padding: 0;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Choose image";
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: #a18474;
    outline: none;
  }

  .upload-constraint {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
  }

  .input-field-profile {
    border: 1px solid #111;
    height: 56px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }
  .m-top-20{
    margin-top: 20px;
  }
  .input-edit-profile {
    background-color: transparent;
    vertical-align: middle;
    margin-left: 16px;
    margin-right: 5px;
    width: 100%;
    color: black;
    font-size: 14px;
    
  }

  .email-input-container{
      display: flex;
      align-items: center;
      width: 110%;
  }

  .change-email-btn{
     outline:none;
     border:none;
     background-color: transparent;
     align-self: center;
     font-size: 12px;
     width: 20%;
     color: #333333;
    opacity: 0.5;
  } 


  .change-email-btn:hover{
    color: #000000;
    opacity: 1;
  }

  textarea.input-story {
    cursor: auto;
    overflow-y: auto !important;
    resize: none;
    border: none;
    padding: 0;  
  }
  
  textarea.input-story::-webkit-scrollbar {
    width: 14px;
  }
  
  textarea.input-story::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }

  .input-story-field {
    padding: 12px 8px 12px 16px;
    margin-top: 12px;
    height: 152px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #111;
    box-sizing: border-box;
    border-radius: 6px;
  
  }

  .input-story,
  .input-story:focus,
  .input-story::placeholder {
    margin: 0;
    background-color: transparent;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    color: #111;
    opacity: 0.7;
    font-size: 14px;
   
    height: 80px;
    min-height: 120px;
    max-height: 120px;
  }
  .row-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .select-placeholder {
    margin-left: -5px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    opacity: 0.5;
  }

  .custom-select {
    color: #a18474;
    font-size: 16px;
    font-weight: 400;
    text-indent: 10px;
    -webkit-appearance: none;
    width:90%;
    background-image: url(../../assets/login/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 25px;
  }

  .m-left-50{
    margin-left: 50px;
  }

  .m-left-290{
    margin-left: 290px;
  }

  .gender-select-edit {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  .update-profile-btn {
    
    width: 90%;
    height: 43px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: #8c8c8c;
    color: #fff;
    transition: 0.4s;
  
    
  }
  .update-profile-btn:hover{
    background: #61C0BF;
    color: #000;
}

 